body {
    background-color:antiquewhite;

    hr {
        background-color:antiquewhite;
        border-style:dotted none none;
        border-color: rgb(238, 4, 4);
        border-width: 5px;
        width: 5%;
    }

    img{
        width: 10%; border-radius: 300px;
    }
}
h1, h2, h3 {
    color: blue;
}